@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    font-family: 'Kanit', sans-serif;
}
.container{
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 1000px;
    animation: transctionIn 0.75s;

}

.header{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 50px;
}

#headtext{
    color: #FFFF;
    font-size: 40px;
}
#head-detail{
    color: yellow;
    font-size: 20px;
    text-align: right;
    
}



.image-detail{
    margin-bottom: 50px;
}

.motor-detail{
    margin-bottom: 50px;
}

.imagesuzukilogo{
    width: 200px;
    cursor: pointer;
}


.imagesuzukidetail{
    width: 1000px;
}

.imagemotordetail{
    cursor: pointer;
    width: 420px;
    margin: 30px;
}


@keyframes transctionIn{
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to{
        opacity: 1;
        transform: rotateX(0);
    }
}


@media only screen and (max-width: 600px) {
    .motor-detail{
        display: flex;
        flex-direction: column;
    }

    .imagesuzukilogo{
        width: 150px;
        cursor: pointer;
    }
    
    .container{
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 420px;
        animation: transctionIn 0.75s;
    }


    .imagesuzukidetail{
        width: 400px;
    }


    #headtext{
        color: #FFFF;
        font-size: 30px;
    }
    #head-detail{
        color: yellow;
        font-size: 15px;
        text-align: right;
        
    }

    .imagemotordetail{
        cursor: pointer;
        width: 300px;
        padding: 10px;
    }

    .motor-detail{
        margin-bottom: 10px;
    }

    .image-detail-motor{
        width: 400px;
    }

    .image-detail-motor img{
        width: 350px;
    }
  }